p, li {
    /* opacity: 87%;
    text-shadow: 0px 0px .2em black; */
    line-height: calc(1.3rem * var(--scaling-factor));
    font-size: medium;
}

h3:not(:first-child), h4:not(:first-child) {
    margin-top: calc(2rem * var(--scaling-factor));
}

h3 {
    color:white;
    border-bottom: 1px solid white;
    font-size:x-large;
}

h4 {
    color:white;
    border-bottom: 1px solid white;
    font-size:large;
}

code {
    color: inherit;
}
