mat-card > a {
  text-decoration: none;
}

img[mat-card-avatar] {
  border-radius: 0;
  object-fit: contain;
}

mat-card-actions {
  text-align: center;
}

mat-card {
  // background: lightgray;
  // background: rgba(0, 0, 0, 0.7);
  
  background: rgba(48, 25, 52, 0.7);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
}

mat-card * {

  color: white;
}