:root {
    --scaling-factor: 1;
}

:root {
    --zelda-border-light: #5f87dd;
    --zelda-border-dark: #1c2a49;
    --zelda-bg: #2f487c;
    --zelda-bg-hilite: #3f67cd;
    --zelda-file-button-width: calc(145px*var(--scaling-factor));
    --zelda-button-width: calc(200px*var(--scaling-factor));
    --zelda-button-font-size: calc(22px*var(--scaling-factor));
    --zelda-content-font-size: calc(18px*var(--scaling-factor));
}

body {
        /* background-color: green; */
        background-image: url(../img/vrbox_cur.png);
        background-repeat: repeat-x; 
        background-attachment: fixed; 
        background-size: cover; 
        /*! animation-name: bg_anim; */ 
        /*! animation-iteration-count: infinite; */ 
        /*! animation-timing-function: linear; */

        color: #f8f8f8;
        counter-reset: h2counter;
        margin: 0;
    }



* {
  box-sizing: border-box;
  }
      
/* Nav bar */
      
/* .main-nav {
    z-index: 10;
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 56px;
    flex-direction: row;
    background: var(--zelda-bg);
    font-size: 20px;
    position: fixed;
    top: 0px;
    width: 100%;
    font-weight: bold;
} */
.main-nav {
  z-index: 10;
  padding: 0;
  margin: 0;
  /* display: flex; */
  min-height: 56px;
  /* flex-flow: row wrap; */
  /* align-items: center; */
  /* justify-content: space-between; */
  background: var(--zelda-bg);
  font-size: 20px;
  position: fixed;
  top: 0px;
  width: 100%;
  font-weight: bold;
}

.main-nav + * {
  padding-top: 50px;
}

.main-nav a {
  text-decoration: none;
  /* display: flex;
  align-items: flex-start; */
  color: inherit;
}
.main-nav a:hover, .main-nav a:focus {
  background: #ccc;
  color: black;
}

.left > label {
  padding: 20px;
  /* flex: 1; */
}
nav input {
  display: none;
}

.nav-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  /* padding: 0 0 0 50px; */
}

/* Toggle Effect */

/* input:checked ~ label {
  background-image: url(close.png);
} */

input:checked ~ .nav-content {
  max-height: 100%;
}

.left {
  flex: 1;
  display: flex;
  justify-content: space-between;
  /* display: contents; */
}

/* .left::after {
  content: "";
  width: 100%;
} */

.middle 
{
  flex: 1;
}

.left {
  text-align: left;
  display: flex;
  align-items: center;
}

.middle {
  text-align: center;
}

.right {
  text-align: center;
}

.logo {
  width: 55px;
  height: 50px;
  padding-left: 5px;
}

.item {
  font-size: 20px;
  padding: 16px;
  display: inline-block;
}
      






h1 {
    text-align: center;
    text-shadow: 0px 0px 0.1em;
}

header.title {
    text-align: center;
    margin-top: 50px;
    /* margin-bottom: 30px; */
}

/* h1 {
    counter-reset: h2counter;
} */

/* File boxes */

article::before {
    box-sizing: border-box;
    color: black;
    /* margin: auto; */
    /* margin-left: -var(--zelda-file-button-width); */
    width: var(--zelda-file-button-width);
    text-align: center;
    text-shadow: calc(2px*var(--scaling-factor)) calc(2px*var(--scaling-factor)) calc(2px*var(--scaling-factor)) var(--zelda-border-light);
    cursor: default;


    content: "File " counter(h2counter);
    counter-increment: h2counter;
    counter-reset: h3counter;

    border-radius: calc(4px*var(--scaling-factor));
    border-style: solid;
    border-width: calc(6px*var(--scaling-factor));
    border-color: var(--zelda-border-light) var(--zelda-border-dark) var(--zelda-border-dark) var(--zelda-border-light);

    /* padding: 1px 1rem; */
    
    font-size: var(--zelda-button-font-size);
    /* padding-top: calc(10px*var(--scaling-factor)); */
    /* width: var(--zelda-button-width); */
    /* text-align: center; */
    /* display: inline-block; */
    /* float: left; */
    /* margin-right: 10pt; */
    /* background: lightblue */
    
    display: flex; 
    align-items: center;
    justify-content: center; 
    
    background: linear-gradient(
        90deg,
        var(--zelda-bg),
        var(--zelda-bg-hilite) 30%,
        var(--zelda-bg) 80%,
        var(--zelda-bg-hilite)
    );


}

h2 {
    box-sizing: border-box;
    margin: auto;
    /* margin-left: var(--zelda-file-button-width); */
    /* margin-bottom: inherit; */
    padding: 3px 1rem 0px 1rem;
    /* padding-top: 3px; */
    /* display: inline-block; */
    /* float: right; */

    border-radius: calc(4px*var(--scaling-factor));

    border-style: solid;
    border-width: calc(6px*var(--scaling-factor));
    border-color: var(--zelda-border-light) var(--zelda-border-dark) var(--zelda-border-dark) var(--zelda-border-light);

    /* border-bottom-style:hidden;
    background-color: brown; */
    
    /* width: calc(100% - var(--zelda-file-button-width)); */
    flex: 1;
    
    font-size: var(--zelda-button-font-size);

    border-bottom-style: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
h2::after {
    border-bottom: 3px solid darkgrey;
    display: block;
    /* width: calc(100% - 1rem); */
    /* margin-left: 5%; */
    content: "";
    /* height: 3px; */
}


/* h3::before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
} */

article {
    /* background: yellowgreen; */

    background: linear-gradient(
        120deg,
        var(--zelda-bg) 10%,
        var(--zelda-bg-hilite) 30%,
        var(--zelda-bg-hilite) 40%,
        var(--zelda-bg) 60%,
        var(--zelda-bg-hilite) 80%,
        var(--zelda-bg)
    );

    /* border-style: solid;
    border-width: calc(6px*var(--scaling-factor));
    border-color: var(--zelda-border-light) var(--zelda-border-dark) var(--zelda-border-dark) var(--zelda-border-light); */

    margin: 2rem auto;
    border-radius: calc(4px*var(--scaling-factor));

    /* width: 80%; */
    display: flex;
    flex-flow: row wrap;
    /* align-content: center; */
}


h2 + section::before {
    content: "";
    border-top: calc(6px*var(--scaling-factor)) solid var(--zelda-border-light);
    /* width: calc(var(--zelda-file-button-width)); */
    /* height: calc(6px*var(--scaling-factor)); */
    /* position: absolute; */
    display: flex;
    /* align-content: center; */
    /* margin-bottom: 1ex; */
    /* padding: auto; */

    /* border-style: solid;
    border-width: calc(6px*var(--scaling-factor));
     */
    /* background-color: var(--zelda-border-light); */
    
/* }
.zelda-file-box-hack_left { */
    padding: 0;
    width: var(--zelda-file-button-width);
    height: 0px;
    border-right-style: none;
    border-bottom-style: none;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    
    margin-bottom: 1em;
    /* float: left; */
}

h2 + section {
    border-top: none;
}

section {
    /* display: block; */
    /* box-sizing: border-box; */
    /* position: relative; */

    border-radius: calc(4px*var(--scaling-factor));
    border-style: solid;
    border-width: calc(6px*var(--scaling-factor));
    border-color: var(--zelda-border-light) var(--zelda-border-dark) var(--zelda-border-dark) var(--zelda-border-light);
    /* border-top: none; */
    /* padding: none;
    margin: auto; */
    width: 100%;

    /* padding-top: 1.5ex; */
}

section > :first-child {
    margin-top: 1.5ex;
}
section > :last-child {
    margin-bottom: 1.5ex;
}
section > * {
    margin: auto 1rem;
    font-size: var(--zelda-content-font-size);
}

h3,h4 {
  margin-top: 1.5rem;
  margin-bottom: 1ex;
  border-bottom: solid #ccc thin;
}

p {
  padding: 1ex auto;
}

a {
  color: gold;
  text-decoration: none;
}
a:hover
{
  color: red;
}










/* Responsive stuff */

main {
  width: 100%;
  margin: calc(30px*var(--scaling-factor)) auto;
  
  /* border: calc(1px*var(--scaling-factor)) solid red; */
 
}

ul {
  padding-left: 20px;
}

@media only screen and (min-width: 700px) {
main {
  width: 80%;
      margin: 0 auto;
      
      /* border: calc(1px*var(--scaling-factor)) solid blue; */
     
}


.main-nav {
    z-index: 10;
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 56px;
    flex-direction: row;
    background: var(--zelda-bg);
    font-size: 20px;
    position: fixed;
    top: 0px;
    width: 100%;
    font-weight: bold;
}

.left > label {
  display: none;
}
nav input {
  display: none;
}

.nav-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: inherit;
  /* overflow: hidden; */
  /* padding: 0 0 0 50px; */
}

.left {
  flex: 0;
  text-align: left;
  display: flex;
  align-items: center;
}

.middle {
  flex: unset;
  text-align: center;
}

.right {
  text-align: center;
}

.logo {
  width: 55px;
  height: 50px;
  padding-left: 5px;
}

.item {
  font-size: 20px;
  padding: 16px;
  display: inline-block;
}

}

@media only screen and (min-width: 1000px) {
main {
  width: 60%;
      margin: 0 auto;
      
      /* border: calc(1px*var(--scaling-factor)) solid red; */
     
}
}
@media only screen and (min-width: 1400px) {
main {
  width: 40%;
      margin: 0 auto;
      
      /* border: calc(1px*var(--scaling-factor)) solid blue; */
     
}
}


















/* Progress stuff */


dl.progress-container {
  /* width: 100%; */
  display:flex;
  flex-flow: row wrap;
  margin: 1rem;
}

dl.progress-container dt {
  /* float: left;
  clear: left; */
}

dl.progress-container dd {
  flex: 1;
  /* float: right; */
  text-align: right;
  break-after: always;
}

dl.progress-container dt::after {
  content: ":";
}

/* dl.progress-container dl::after {
  flex: 1;
} */

/* .progress-value {
  flex: 1;
  text-align: right;
} */

div#ootProgressChart {
  /* min-width: 310px;
  height: 400px;
  max-width: 800px; */
  margin: 0 auto;
}

.progress-toggle {
  display: flex;
/* justify-content: space-evenly; */
align-items: center; 
  /* display:inline-block; */
  /* box-sizing: border-box; */
  /* position: relative; */
  /* min-width: calc(var(--zelda-button-width)); */
  /* text-align: center; */
  /* vertical-align: middle; */
  width: calc(var(--zelda-button-width));
  height: calc(47px*var(--scaling-factor));
  max-height: calc(47px*var(--scaling-factor));
  font-size: var(--zelda-button-font-size);
  padding-left: 1rem;

  border-radius: calc(4px*var(--scaling-factor));
  border-style: solid;
  border-width: calc(6px*var(--scaling-factor));
  border-color: var(--zelda-border-light) var(--zelda-border-dark) var(--zelda-border-dark) var(--zelda-border-light);
  /* border-top: none; */
  /* padding: none;
  margin: auto; */
  /* width: 100%; */

  /* padding-top: 1.5ex; */
}
.progress-toggle > span {
  /* flex: 1; */
  /* text-align: center; */
  /* border: solid; */
  /* text-align: center; */
  /* padding: 1rem auto; */
}
.progress-toggle :last-child {
  flex: 1;
  text-align: center;
}

article.progress-box {
  clip-path: polygon(
      0 0, 
      100% 0, 
      100% calc(100% - 47px*var(--scaling-factor)), 
      var(--zelda-button-width) calc(100% - 47px*var(--scaling-factor)), 
      var(--zelda-button-width) 100%, 
      0 100%
    );
}